/*{
    font-family: arial;
	font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin: 40px;
*/

body {
    font: normal normal 12pt/1.5em arial, tahoma, sans-serif;
    margin: 20px;
}

#header img {
    border: 2px solid green;
}

.header img {
    display: block;
    float: none;
}

h1 {
    font-size: 20;
}

h2 {
    font-size: 16;
}


p {
    font-size: 12;
    line-height: 1.5em;
	margin: 20px;
}

#stopka {
	position: center;
	bottom: 0;
	font-size: 13;
	color: black;
	background-color: #FFFFFF;
	height: 30px;
	text-align: center;
	border: 2px solid green;
}

#menu {
	background-color:#FFFFFF;
	margin-right: 780px;
	margin-left: 50px;
	color: black;
	padding: 10px;
	border: 2px solid green;
}

.menu {
	float: left;
	height: 20px;
	font-size: 15px;
	padding: 10px;
	border-right: 3px solid black;
}

.menu:hover {
	background-color: grey;
	cursor: pointer;
}

.header {
	margin: 20px;
}

.tekst {	
	text-align: justify;
	margin: 20px;
}

.pochylony {
    font-style: italic;
}
